{% extends "base/base.html" %}
{% load crispy_forms_tags %} <!-- Allowing us to use the crispy filter on any forms-->
{% block content %}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %} <!-- csrf_token adds security, now we can add the form variable that we passed in -->
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          {{ form|crispy }} <!-- Accessing form and crispy to each form, for stylization-->
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Log In</button> <!-- Stylizing -->
          <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}">Forgot Password?</a> <!-- Refering users to a link to reset their password by email -->
          </small>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a> <!-- If the user does not have an account to log into, linking this as the url for register -->
        </small>
      </div>
    </div>
{% endblock content %}